.widget-title {
    @apply text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-4 select-none;
}

.widget-card {
    @apply bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 transition-colors duration-300;
}

.widget-container {
    @apply shadow-md hover:shadow-xl transition-shadow duration-300;
}

.trash-icon-hover {
    @apply h-5 w-5 text-gray-700 dark:text-gray-400 cursor-pointer hover:text-red-500 mb-4;
}

.unit-dropdown {
    @apply bg-gray-800 dark:bg-gray-700 text-gray-100 py-2 px-4 rounded w-full;
}

.task-summary-label {
    @apply text-gray-700 dark:text-gray-200
}

.recent-message {
    @apply bg-gray-100 dark:bg-gray-700 p-3 rounded-lg;
}

.timestamp-label {
    @apply text-xs text-gray-800 dark:text-gray-400 select-none;
}

.custom-clock {
    width: 150px;
    height: 150px;
}

.custom-clock .react-clock__mark__number {
    font-size: 1.2rem;
    transform: translate(0, -50px);
}

.progress-button {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300 mt-4;
}

.progress-bar {
    @apply bg-blue-600 h-4 rounded-full transition-all duration-500;
}

.stat-val {
    @apply text-2xl font-bold text-gray-900 dark:text-gray-300;
}
  